.tab {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #ddd;
  // border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #f0f0f0;
  }
}

.icon {
  display: block;
  color: red;
  margin-right: 8px;
}

.title {
  font-size: 14px;
}
